<div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xs-12" hashgallery-renderer>
                <button class="btn btn-primary generate-scene" ng-click="generate()">Generate scene</button>
            </div>
            <div class="col-md-2 col-xs-12 img-sidebar">
                <div class="row">
                    <div class="col-md-12 col-xs-12" ng-repeat="image in artistData.images">
                        <div ng-class="{'img-thumbnail': true, 'selected-img': $index == currentImage - 1}">
                            <img class="img-responsive" ng-src="{{image.url}}" builds-texture>
                        </div>
                    </div>
                </div>
                <!--
                <textarea style="height:300px; width: 250px;">
                    {{artistData | json}}
                </textarea>
                -->
            </div>
        </div>
    </div>
</div>