<div ng-show="!artistData.galleryCreated">
    <ng-include src="'views/welcome.html'"></ng-include>
</div>
<div ng-show="artistData.galleryCreated">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-xs-12" hashgallery-renderer>
                <button class="btn btn-primary generate-scene" ng-click="generate()">Generate scene</button>
            </div>
            <div class="col-md-2 col-xs-12 img-sidebar">
                <div class="row">
                    <div class="col-md-12 col-xs-12">
                        <div class="file-upload">
                            <input type="file" ng-model="files" ng-change="updatePic()" gallery-upload />
                            <button ng-click="upload()" class="label label-primary">Upload</button>
                        </div>
                    </div>
                </div>
                <div class="row" ng-if="localImage">
                    <div class="col-md-12 col-xs-12">
                        <div class="img-thumbnail img-responsive upload-preview">
                            <img class="img-responsive" ng-src="{{localImage}}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12" ng-repeat="image in artistData.images">
                        <div class="img-thumbnail">
                            <i class="fa fa-times pull-right" ng-click="truncImage()"></i>
                            <img class="img-responsive" ng-src="{{image.url}}">
                        </div>
                    </div>
                </div>
                <!--
                <textarea style="height:300px; width: 250px;">
                    {{artistData | json}}
                </textarea>
                -->
            </div>
        </div>
    </div>

</div>