<p>Here is {{name}}'s gallery</p>
<p>File {{uploadProgress.fileCount}} is {{uploadProgress.progress}}% done</p>
<p>
    <input type="file" ng-model="input" ng-change="updatePic()" gallery-upload multiple />
    <button ng-click="upload()">Upload</button>
</p>
<p>
    <img ng-show="localImage" ng-src="{{localImage}}">
</p>
<div ng-if="imageData.galleryCreated">
    <div ng-repeat="image in imageData.images">
        <img ng-src="{{image.url}}">
    </div>
    <textarea style="height:300px; width: 250px;">
        {{imageData | json}}
    </textarea>
</div>

<div ng-if="!imageData.galleryCreated">
    <p>You haven't made a gallery yet.</p>
    <button ng-click="makeGallery()">Make gallery</button>
</div>