<nav class="navbar navbar-default">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/#/home">#gallery</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
            </ul>
            <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                Check out {{name}}'s #gallery!<br>
                <input type="text" ng-model="name">  <button class="btn btn-primary" ng-click="goGallery()">Submit</button>
            </div>
        </div>
    </div>
    <div class="row" style="margin-right: 20px; margin-left: 20px;">
        <div class="col-md-12">
            <h2>Latest artist galleries</h2>
        </div>
        <div class="col-md-2 col-xs-6" ng-repeat="(name,artist) in artists">
            <div class="img-thumbnail">
                <img ng-show="checkImage(name)" ng-src="{{checkImage(name)}}" class="img-responsive">
                <div class="caption">
                    <h4><a ng-href="#/artist/{{name}}">{{name}}</a></h4>
                    <p>
                        {{artist.description}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>