/* Requires bootstrap */

/* Gallery styles */
html,body {
        height: 100%;
}
input {
        display: inline-block !important;
}

canvas {
        width: 100%;
        height: 100%;
}

.navbar {
        margin-bottom: 0;
}

.jumbotron {
        margin: 30px;
        /*
        margin-top: 30px;
        margin-bottom: 30px;
        */
}

.floating-button {
        position: fixed;
        left: 20px;
        top: 20px;
        z-index: 99;
}

.container {
        margin:0px !important;
        padding: 0px !important;
        width: 100%;
}

.generate-scene {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: 100px;
}

.img-sidebar {
        background-color: rgba(255,255,255,0.5);
        padding: 10px;
        padding-right: 20px;
        overflow-y: auto;
}

.upload-preview {

}

.file-upload {
        margin-top: 20px;
        margin-bottom: 20px;
}

.fa-times {
        cursor: pointer;
}
.fa-times:hover {
        color: red;
}

.welcome-row {
        margin-top: 20px;
        margin-bottom: 20px;
}